<div class="container">
<header>
    <nav>
        <a href="" id="menu">Menu</a>
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
    </nav>
</header>