/* Add your styles here. */
body {
    font-family: Arial, sans-serif;
    font-size: calc(15px + 0.390625) 
    
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 320px) {
    .container {
        width: 100%
    }
    
   #profileimage {
        max-width: 80px;
        max-height: 80px;
    }

}
/* Ipads, tablets - small */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    
    }
    
    #profileimage {
        max-width: 120px;
        max-height: 120px;
    }
   
}
/*Ipads, tablets - medium or landscape */
@media only screen and (min-width: 1024px) {
    .container {
        width: 90%;

    }

    #profileimage {
        max-width: 150px;
        max-height: 150px;
    }

}

/* desktop screen */
@media only screen and (min-width: 1920px) {
    .container {
        width: 50%;
    }

    #profileimage {
        max-width: 170px;
        max-height: 170px;
    }


}
 
div.content{
    position: relative;
    padding: 0px 0px 0px 10px;
    border: 0px solid rgb(255, 0, 157);
}

div.posts {
    overflow-x: scroll;
}

ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

li.post {
    list-style-type: none;
    padding: 20px 10px 10px 10px;
    max-width: 280px;
    height: 70%;
    margin: 10px;
    background-color:rgba(202, 201, 201, 0.145);
}

img {
    aspect-ratio: auto;

}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.reactions {
    font-weight: bold;
}

nav {
    margin: 1em;
    width: 100%;
}

#profilebanner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#profileimage {
    border-radius: 50% /50%;
    border: 2px solid;
    margin: 0px 10px 0px 10px;
    flex: 0 1;
}

#username {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.profileusername{

    font-size: 1rem;
    font-weight: 600;
}

.profileemail {

    font-weight: 300;
    font-size: 0.9rem;
}

h1.profilename {
 
    font-size: 1.5rem;
}

#coverimage {
    z-index: -1;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 100%;
    padding-bottom: 20px;
}