/* Add your styles here. */
body {
    font-family: Arial, sans-serif;
}


div.container {
    border: 1px solid green;
}

div.posts {
    border: 1px solid red;
}

div.post {
    border: 1px solid blue;
}