/* Add your styles here. */


body {
    font-family: Arial, sans-serif;
    font-size: 5vw;
    
}



.container {
    border: 0px solid green;
    width: 100%;
}

@media only screen and (max-width: 320px) {
    .container {
        width: 100%
    }
}

div.posts {
    border: 0px solid red;
    padding: 5px;
    
}

div.post {
    border: 1px solid blue;
    

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
img {
    aspect-ratio: auto;
}

.reactions {
    font-weight: bold;
}